<mat-icon>add_circle_outline</mat-icon>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="pseudo">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="email">
  </mat-form-field> 

  <mat-form-field>
    <input matInput placeholder="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="confirm your password">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="language">
      <mat-option value="français">français</mat-option>
      <mat-option value="english">english</mat-option>
    </mat-select>
  </mat-form-field>
  
</div>