<mat-list>
  <mat-list-item>proche de vous</mat-list-item>
  <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile><mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
          </mat-grid-tile>
        <mat-grid-tile><mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
          </mat-grid-tile>

        <mat-grid-tile><mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
          </mat-grid-tile>
    </mat-grid-list>
  
  <mat-list-item>sugestion</mat-list-item>
  <mat-divider></mat-divider>
  <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile><mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        </mat-grid-tile>
      <mat-grid-tile><mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        </mat-grid-tile>

      <mat-grid-tile><mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        </mat-grid-tile>
  </mat-grid-list>
 </mat-list>
 <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile><mat-icon aria-hidden="false" aria-label="Example home icon">chat_bubble_outline</mat-icon></mat-grid-tile>
    <mat-grid-tile><mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon></mat-grid-tile>
    <mat-grid-tile><mat-icon aria-hidden="false" aria-label="Example home icon">outlined_flag</mat-icon></mat-grid-tile>
  </mat-grid-list>
